@font-face {
  font-family: 'Bakso Sapi';
  src: url('../fonts/BaksoSapi.otf') format('truetype');
  font-weight: 200;
  font-display: swap;
  font-style: normal;
}

.bakso-sapi {
	font-family: "Bakso Sapi";
}
